<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
		<title>
			{% block titleDocument %}
				Titre par défaut du document
			{% endblock %}
		</title>
	</head>
	<body>
		header

		<hr/>

		{% block corpDuDocument %}
			Contenu par défaut du bloc corps du document
		{% endblock %}

		<hr/>

		footer
	</body>
</html>
